<div class="col-md-8">
  <table class="table table-striped">
    <tbody>
      <th>Subreddits</th>
        {{#each model as |subreddit|}}
        <tr>
          {{#link-to "subreddits.edit" subreddit.id}} {{subreddit.name}} {{/link-to}}
        </tr>
        {{/each}}
    </tbody>
  </table>
</div>
